body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar {
    width: 300px;
    background-color: #2E3A59;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.badge {
    background-color: #4CAF50;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

nav ul li.active,
nav ul li:hover {
    background-color: #3E4C77;
}

.logout {
    margin-top: auto;
    background-color: #FF3B30;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

header p {
    color: #666;
}

.content {
    display: flex;
    flex-direction: column;
}

.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nifty {
    background-color: #882b2b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 30%;
}

.nifty h2 {
    margin-top: 0;
}

.sensex {
    background-color: #383a9b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 30%;
}

.sensex h2 {
    margin-top: 0;
}

.makerdom {
    background-color: #1e5c28;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 30%;
}

.makerdon h2 {
    margin-top: 0;
}

.protocols {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.protocols h2 {
    margin-top: 0;
}

.protocol-chart {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.protocol-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #F4F4F4;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-top: 1px solid #E5E5E5;
}
